# KPI

In [4]:
# import libraries 
import os
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

warnings.filterwarnings("ignore")

## Data Loading

In [5]:
PATH = 'Data'
SPRINT = 1

In [6]:
# define function to read file
def read_file(sprint):
    
    """Input: number of sprint.
    Function reads .csv data of desired sprint. 
    Output: Dataframe or error.
    """
    
    # reading file
    filename = f'data_sprint_{sprint}.csv'
    try:
        df = pd.read_csv(os.path.join('..', PATH, filename), 
                         parse_dates=['insert_date', 'first_review_date', 'last_review_date'], 
                         date_format='%d/%m/%Y')
        display(df.head())
        return df
    except Exception as error:
        print("An exception occurred:", error)
        return error

In [7]:
df = read_file(SPRINT)

,apartment_id,name,description,host_id,neighbourhood_name,neighbourhood_district,room_type,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,is_instant_bookable,reviews_per_month,country,city,insert_date
0,11964,A ROOM WITH A VIEW,Private bedroom in our attic apartment. Right ...,45553,Centro,NaN,Private room,2,2.0,1.0,...,100.0,100.0,100.0,100.0,100.0,FALSO,75.0,spain,malaga,2018-07-31
1,21853,Bright and airy room,We have a quiet and sunny room with a good vie...,83531,C�rmenes,Latina,Private room,1,1.0,1.0,...,90.0,100.0,100.0,80.0,90.0,FALSO,52.0,spain,madrid,2020-01-10
2,32347,Explore Cultural Sights from a Family-Friendly...,Open French doors and step onto a plant-filled...,139939,San Vicente,Casco Antiguo,Entire home/apt,4,1.0,2.0,...,100.0,100.0,100.0,100.0,100.0,VERDADERO,142.0,spain,sevilla,2019-07-29
3,35379,Double 02 CasanovaRooms Barcelona,Room at a my apartment. Kitchen and 2 bathroom...,152232,l'Antiga Esquerra de l'Eixample,Eixample,Private room,2,2.0,1.0,...,90.0,100.0,100.0,100.0,90.0,VERDADERO,306.0,spain,barcelona,2020-01-10
4,35801,Can Torras Farmhouse Studio Suite,Lay in bed & watch sunlight change the mood of...,153805,Quart,NaN,Private room,5,1.0,2.0,...,100.0,100.0,100.0,100.0,100.0,FALSO,39.0,spain,girona,2019-02-19

## KPI occupancy rates
### 1. Occupancy Rate (Monthly) 

Occupancy Rate = (Number of Occupied Days / Number of Available Days) × 100

In [9]:
# 1. Occupancy Rate
for period in ['30', '60', '90', '365']:
    print(f'\nOccupancy Rate {period} days:')
    print(((int(period) - df[f"availability_{period}"]) / (df[f"availability_{period}"]+1)).mean()*100)

Occupancy Rate 30 days:
1019.889204308436

Occupancy Rate 60 days:
1571.0229532536937

Occupancy Rate 90 days:
1975.5166578030799

Occupancy Rate 365 days:
5116.625090518823

### 2. City with the Highest Occupancy (Monthly) 

City with the Highest Occupancy = max (Number of Occupied Days / Number of Available Days)

In [10]:
# 2. City with the Highest Occupancy

## KPI customers satisfaction

In [11]:
# 3. General Satisfaction Index (average review_scores_value)
general_satisfaction_index = df['review_scores_value'].mean()

# Print results
print(f"General Satisfaction Index: {general_satisfaction_index:.2f}")

General Satisfaction Index: 91.46

In [12]:
# 4. Compute the average score for each category
avg_scores = {
    'accuracy': df['review_scores_accuracy'].mean(),
    'cleanliness': df['review_scores_cleanliness'].mean(),
    'checkin': df['review_scores_checkin'].mean(),
    'communication': df['review_scores_communication'].mean(),
    'location': df['review_scores_location'].mean()
}

# Find the category with the highest average satisfaction
highest_satisfaction_item = max(avg_scores, key=avg_scores.get)

# Print results
print(f"Highest Satisfaction Item: {highest_satisfaction_item} ({avg_scores[highest_satisfaction_item]:.2f})")

Highest Satisfaction Item: communication (96.43)